<div class="text-center">
  <h1 class="bold emphasis larger">Welcome to Neonia!</h1>
  <p>To continue please sign in...</p>
</div>


<div class="row mainDiv" id="signInDiv">

  <div class="col-md-3 col-sm-2 col-xs-1"></div>

  <div class="col-md-6 col-sm-8 col-xs-10 text-center">
    
    <h1>Hi there!</h1>
    <p>Sorry, the forum is currently not available. We have decided to shut it down while we are working on the next features. This saves us $10/month. We will relaunch the forum once there is more activity.</p>
    <p>Our apologies. Please hold tight.</p>
  </div>  
  <div class="col-md-3 col-sm-2 col-xs-1"></div>          
</div>


