<div id="action-plan" data-menu-offset="-9">
  <div>
    <hr
      data-50-top="border-color: rgb(217, 83, 79);"
      data-100-top="border-color: rgb(51, 51, 51);"
      data-anchor-target="#action-plan > div"     
        />
    <h1 class="bold fancy"
      data-50-top="color: rgb(217, 83, 79);"
      data-100-top="color: rgb(51, 51, 51);"
      data-anchor-target="#action-plan > div"><span>Action Plan</span></h1>

    
    <p>For most of our history, we have put the fate of the world into the hands of a few individuals - kings, dictators, presidents. Some of them have led with great heart and courage, but the conclusion is unambiguous: Our world today is far from its full potential.<br/><br/>
      
      Never before in history have ordinary people - like you and I - had . <br/><br/>
      
      The time has come to put the fate of the world back into our hands. This planet belongs to all of us and so all of us together will decide what we want our world to look like.</p><br/>

    <div class="panel panel-default">
      <div class="icon">
        <span class="icon-personal"></span>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold">Personal Change <span class="label label-danger">Step 1</span></h3>
      </div>
      <div class="panel-quote">
        <quote>"Be the change you want to see in the world." &mdash; Gandhi</quote>
      </div>
      <div class="panel-body">
        <p>All change starts with the individual. And there is a lot that each of us can do.<br/><br/>
        
          In the first stage, Neonia will become a resource hub for changing our personal lives. We will offer alternatives to traditional banks, listings of ethical businesses, .... Toolkits to transform yourself and your community.</p>
      </div>
    </div>
    
    <div class="arrow">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    
    <div class="panel panel-default">
      <div class="icon">
        <span class="icon-systemic"></span>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold">Systemic Change <span class="label label-danger">Step 2</span></h3>
      </div>
      <div class="panel-quote">
        <quote>"The secret of change is to focus all of your energy, not on fighting the old, but on building the new." &mdash; Aristotle</quote>
      </div>
      <div class="panel-body">
        <p>The problems that we see on our planet - poverty, malnutrition, environmental exploitation - are systemic. They are the direct consequences of the societal, economic, and political systems that we operate the world on. Systems putting financial profits above anything, creating hierachies of political power, and fostering cultures of individualism and competition.<br/><br/>
        
        It is time to invent a new generation of societal, economic, and political systems. Systems that ...<br/><br/>
        
        To do so, we will build Neonia - a global, borderless, online country dedicated to empowering every human being to flourish. We will implement our own decision-making processes, our own rules for a new economic system, and we will foster a culture based on community and collaboration.</p>
      </div>
    </div>
    
    <div class="arrow">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    
    <div class="panel panel-default">
      <div class="icon">
        <span class="icon-global"></span>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold">Global Change <span class="label label-danger">Step 3</span></h3>
      </div>
      <div class="panel-quote">
        <quote>"When injustice becomes law, resistance becomes duty." &mdash; Thomas Jefferson</quote>
      </div>
      <div class="panel-body">
        <p>We refuse to accept the systemic oppression that is so evident in poverty, war, and environmental exploitation around the globe. We are committed to ending this oppression through collaboration and peaceful conflict resolution.<br/><br/>
          
          Neonia will be open to all human beings. Yet, we recognize that there are many different ways of living life and every human being must have the right to individually decide what type of government they want to live in.<br/><br/>
          
          Neonia is an easily reproducable model to create many diverse nations with diverse types of government. As long as their objective is to empower humanity to flourish, we will work closely together with all of them. Furthermore, every human being must, at any time, have the freedom to leave one nation and join any other.</p>
      </div>
    </div>
  </div>
</div>