<div id="action-plan" data-menu-offset="-9">
  <div>
    <hr
      data-50-top="border-color: rgb(217, 83, 79);"
      data-100-top="border-color: rgb(51, 51, 51);"
      data-anchor-target="#action-plan > div"     
        />
    <h1 class="bold fancy"
      data-50-top="color: rgb(217, 83, 79);"
      data-100-top="color: rgb(51, 51, 51);"
      data-anchor-target="#action-plan > div"><span>Action Plan</span></h1>

    
    <p>For most of our history, we have put the fate of the world into the hands of a few individuals - kings, dictators, presidents. Some of them have led with great heart and courage, but the conclusion is unambiguous: Our world today is far from its full potential.<br/><br/>
      
      Never before in history have ordinary people - like you and I - had the opportunity to so actively influence the world around us. The Internet has placed access to the majority of human knowledge at our fingertips. It has enabled us to be participants in conversations rather than just spectators. And it has allowed us to form communities with anyone anywhere at any time. <br/><br/>
      
      This is the opportunity to put the fate of the world into our own hands. This planet belongs to seven billion human beings and all of us together should decide what we want our world to look like.</p><br/>

    <div class="panel panel-default">
      <div class="icon">
        <span class="icon-personal"></span>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold">Personal Change <span class="label label-danger">Step 1</span></h3>
      </div>
      <div class="panel-quote">
        <quote>"Be the change you want to see in the world." &mdash; Gandhi</quote>
      </div>
      <div class="panel-body">
        <p>The fate of the world is decided by the billions of tiny actions and decisions that each of us performs every single day. In order to transform this world, we - as individuals - must start by changing ourselves. We must become conscious citizens. We must become aware of the intricate links and consequences that our actions are having on the world. And we must gain an understanding of the great challenges of our time and must identify their core reasons.<br/><br/>
        
          In the first stage, Neonia will become a resource hub for changing our personal lives. From business to banking to the enviroment to all other elements of our day-to-day interactions - Neonia will compile information on the current standard practices, raise awareness of the associated problems and consequences, and provide alternatives so that each of us can start making a difference right now.</p>
      </div>
    </div>
    
    <div class="arrow">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    
    <div class="panel panel-default">
      <div class="icon">
        <span class="icon-systemic"></span>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold">Systemic Change <span class="label label-danger">Step 2</span></h3>
      </div>
      <div class="panel-quote">
        <quote>"The secret of change is to focus all of your energy, not on fighting the old, but on building the new." &mdash; Aristotle</quote>
      </div>
      <div class="panel-body">
        <p>The problems that we see on our planet - poverty, malnutrition, environmental exploitation - are systemic. They are the direct consequences of the societal, economic, and political systems that we operate the world on. Systems putting financial profits above anything, creating hierachies of political power, and fostering cultures of individualism and competition.<br/><br/>
        
        It is time to invent a new generation of societal, economic, and political systems. Systems that put humanity and nature first, that distribute political power equally among each of us, and that create a mindset of community and collaboration. Systems that allow every human being to thrive and to follow their heart.<br/><br/>
        
        To do so, we will build Neonia - a global, borderless, online country dedicated to empowering every human being to flourish. We will implement our own decision-making processes, our own rules for a new economic system, and we will foster a culture based on community and collaboration.</p>
      </div>
    </div>
    
    <div class="arrow">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    
    <div class="panel panel-default">
      <div class="icon">
        <span class="icon-global"></span>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold">Global Change <span class="label label-danger">Step 3</span></h3>
      </div>
      <div class="panel-quote">
        <quote>"When injustice becomes law, resistance becomes duty." &mdash; Thomas Jefferson</quote>
      </div>
      <div class="panel-body">
        <p>
        We live in a world in which the current status quo is competition, wealth inequality, and environmental exploitation. In which the place of one's birth and one's socio-economic status determine so greatly the opportunities of one's future. In a world in which a majority of people are denied their full potential.
          
          <br/><br/>When poverty, malnutrition, war, and environmental exploitation are as widespread and systemic as they are today, it is not enough to change ourselves and to build an alternative system. In this world, it is our duty and responsibility to rise up for our fellow human beings. Rising up not in violent riots, but in raising awareness, seeking solutions, and implementation-focused collaboration.
          
          <br/><br/>Neonia will work towards a wholely flourishing planet Earth by empowering all of us to change the communities within which we live. Together, we will shift our planet from the world we have to the world we want: world peace, humans thriving in harmony with nature, no individual's prosperity based on the withering of another, everyone free to individually choose the government system they wish to live under. Together, we will write the future of humanity.
        
        </p>
      </div>
    </div>
  </div>
</div>