<div id="home"
     data-top="background-position: 50% 50%;"
     data-top-center="background-position: 50% 30%;"
     >
  <div class="overlay">
    <div style="display: table-cell;
    vertical-align: middle;">
      <div class="spacing visible-xs-block"></div>
      <h1
          data--200-bottom-top="color: rgba(255, 255, 255, 0);"
          data--100-bottom-top="color: rgba(255, 255, 255, 1.0);"
          data-anchor-target="#new-world > div">
      <span class="bold">Imagine a world in which all human beings flourish.</span><br/><br/>


      A world with <span class="bold">equal opportunity.</span> And <span class="bold">education, universal health care, world peace, thriving community, environmental responsibility, and collective decision-making.</span><br/><br/>

      <span class="bold">Let's make it happen.</span>
      </h1>
      <div class="spacing visible-xs-block"></div>
    </div>

  </div>
</div>