<div id="home"
     data-top="background-position: 50% 50%;"
     data-top-center="background-position: 50% 30%;"
     >
  <div class="overlay">
    <div style="display: table-cell;
    vertical-align: middle;">
      <div class="spacing visible-xs-block"></div>
      <h1
          data--200-bottom-top="color: rgba(255, 255, 255, 0);"
          data--100-bottom-top="color: rgba(255, 255, 255, 1.0);"
          data-anchor-target="#new-world > div">
        <span class="bold main">
          
          <div>
            <span class="larger">Imagine</span> a <span class="larger">world</span>
          </div>
          
          <div>
             in which <span class="larger emphasis"
                            data--200-bottom-top="color: rgba(217, 83, 79, 0);"
                            data--100-bottom-top="color: rgba(217, 83, 79, 1.0);"
                            data-anchor-target="#new-world > div"
                            >all human beings</span>
          </div>
          
          <div class="larger line-three emphasis"
               data--200-bottom-top="color: rgba(217, 83, 79, 0);"
               data--100-bottom-top="color: rgba(217, 83, 79, 1.0);"
              data-anchor-target="#new-world > div">
            flourish.
          </div>
          
        </span>
        
        <br/>

      A world with <span class="bold">equal opportunity.</span> And <span class="bold">education, universal health care, world peace, thriving community, environmental responsibility, and collective decision-making.</span><br/><br/>

<!--      <span class="bold">We Are Write the Future of Humanity.</span>-->
      </h1>
      <div class="spacing visible-xs-block"></div>
    </div>

  </div>
  
</div>