<div id="home">
  <div class="overlay">
    <div style="display: table-cell;
    vertical-align: middle;">
        <h1>
      <span class="bold">Imagine a world in which all human beings flourish.</span><br/><br/>


      A world with <span class="bold">equal opportunity.</span> And <span class="bold">education, universal health care, world peace, thriving community, environmental responsibility, and collective decision-making.</span><br/><br/>

      <span class="bold">Let's make it happen.</span>
    </h1>
    </div>

  </div>
</div>

<div id="new-world" name="#new-world">
  <h1 class="bold fancy"><span>New World</span></h1>
  <p>Ever since the beginning of our time, poverty, malnutrition, and environmental exploitation have been part of the human story. They have been around for so long that many have stopped questioning their presence, even though there is nothing inherently natural about them. In fact, there is overwhelming scientific evidence that our planet provides sufficient resources for all of us.<br/><br/>

Never in history before have there been more<br/><br/>

We know that a planet on which every human being gets to live to their fullest potential is possible. Let's make it happen.</p>
  
  <div class="row">
    
    <% hover_icons = ["a", "b", "c"] %>
    <% hover_icons.each do |icon| %>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <div class="hover-icon">
          <i class="round-icon"></i>
        </div>
      </div>
    <% end %>

  </div>
  
</div>

<div id="action-plan">
  <h1 class="bold fancy"><span>Action Plan</span></h1>

</div>

<div id="join-us">
  <h1 class="bold fancy"><span>Join us</span></h1>

</div>