<div id="home"
     data-top="background-position: 50% 50%;"
     data-top-center="background-position: 50% 30%;"
     >
  <div class="overlay"
       data-top="padding-bottom: 0%;"
       data-100-top="padding-bottom: 10%;"
       data-anchor-target=".overlay > div"
       >
    <div style="display: table-cell;
    vertical-align: middle;"
        data-top-center=""
        data-100-top=""
         >
        <h1
          data--300-bottom-top="color: rgba(255, 255, 255, 0);"
          data-0-bottom-top="color: rgba(255, 255, 255, 1.0);"
          data-anchor-target="#new-world">
      <span class="bold">Imagine a world in which all human beings flourish.</span><br/><br/>


      A world with <span class="bold">equal opportunity.</span> And <span class="bold">education, universal health care, world peace, thriving community, environmental responsibility, and collective decision-making.</span><br/><br/>

      <span class="bold">Let's make it happen.</span>
    </h1>
    </div>

  </div>
</div>


<div id="new-world" name="#new-world"
      data-menu-offset="-50">
  <h1 class="bold fancy"><span>New World</span></h1>
  <p>Ever since the beginning of our time, poverty, malnutrition, and environmental exploitation have been part of the human story. They have been around for so long that many have stopped questioning their presence, even though there is nothing inherently natural about them. In fact, there is overwhelming scientific evidence that our planet provides sufficient resources for all of us.<br/><br/>

Never in history before have there been more<br/><br/>

We know that a planet on which every human being gets to live to their fullest potential is possible. Let's make it happen.</p>
  
  <div class="row">
    
    <% hover_icons = ["a", "b", "c"] %>
    <% hover_icons.each do |icon| %>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <div class="hover-icon">
          <i class="round-icon"></i>
        </div>
      </div>
    <% end %>

  </div>
  
</div>

<div id="action-plan"
     data-menu-offset="-50"
     data-top="background-color: rgb(255, 0, 0);"
     data-0="background-color: rgb(0, 255, 0);">
  <h1 class="bold fancy"><span>Action Plan</span></h1>

  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
</div>

<div id="join-us"
     data-menu-offset="-50">
  <h1 class="bold fancy"><span>Join us</span></h1>

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
</div>