<div id="home">
  <div class="overlay">
    <div style="display: table-cell;
    vertical-align: middle;">
        <h1>
      <span class="bold">Imagine a world in which all human beings flourish.</span><br/><br/>


      A world with <span class="bold">equal opportunity.</span> And <span class="bold">education, universal health care, world peace, thriving community, environmental responsibility, and collective decision-making.</span><br/><br/>

      <span class="bold">Let's make it happen.</span>
    </h1>
    </div>

  </div>
</div>

<div id="new-world" name="#new-world">
  <h1 class="bold fancy"><span>New World</span></h1>
  <div><h2>Cultural Shift</h2></div>
  <div><h2>Systemic Shift</h2></div>
</div>

<div id="action-plan">
  <h1 class="bold fancy"><span>Action Plan</span></h1>

</div>

<div id="join-us">
  <h1 class="bold fancy"><span>Join us</span></h1>

</div>