<div id="home"
     data-top="background-position: 50% 50%;"
     data-top-center="background-position: 50% 30%;"
     >
  <div class="overlay">
    <div style="display: table-cell;
    vertical-align: middle;">
      <div class="spacing visible-xs-block"></div>
      <h1
          data--200-bottom-top="color: rgba(255, 255, 255, 0);"
          data--100-bottom-top="color: rgba(255, 255, 255, 1.0);"
          data-anchor-target="#new-world > div">
      <span class="bold">Imagine a world in which all human beings flourish.</span><br/><br/>


      A world with <span class="bold">equal opportunity.</span> And <span class="bold">education, universal health care, world peace, thriving community, environmental responsibility, and collective decision-making.</span><br/><br/>

      <span class="bold">Let's make it happen.</span>
      </h1>
      <div class="spacing visible-xs-block"></div>
    </div>

  </div>
</div>


<div id="spacing"></div>
<div id="new-world" name="#new-world" data-menu-offset="-9">
  <div>
    <hr
      data-50-top="border-color: rgb(217, 83, 79);"
      data-100-top="border-color: rgb(51, 51, 51);"
      data-anchor-target="#new-world > div"     
        />
    <h1 class="bold fancy"
        data-50-top="color: rgb(217, 83, 79);"
        data-100-top="color: rgb(51, 51, 51);"
        data-anchor-target="#new-world > div"><span>New World</span></h1>
    <p>Ever since the beginning of our time, poverty, malnutrition, and environmental exploitation have been part of the human story. They have been around for so long that many have stopped questioning their presence, even though there is nothing inherently natural about them. In fact, there is overwhelming scientific evidence that our planet provides sufficient resources for all of us.<br/><br/>

  Never in history before have there been more<br/><br/>

  We know that a planet on which every human being gets to live to their fullest potential is possible. Let's make it happen.</p>

    <div role="tabpanel">
      <div class="row">

        <% hover_icons = ["icon-users", "icon-coin-dollar", "icon-library", "icon-peace-icon", "icon-leaf", "icon-heart"] %>
        <% hover_icons.each_with_index do |icon, i| %>
          <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
            <div id="new-world_icon_<%= i %>" class="hover-icon<%= i == 0 ? ' active' : '' %>">
              <i class="round-icon">
                <span class="<%= icon %>" aria-hidden="true"></span>
              </i>
            </div>
          </div>
        <% end %>

      </div>
      <div class="tab-content">
        <div class="tab-pane well activated in">
            <span class="heading bold  emphasis">Society</span>
            We are establishing a society in which <span class="bold emphasis">everyone can thrive</span>. People have <span class="bold emphasis">absolute freedom</span> over how they spend their life. The <span class="bold emphasis">provision of basic needs</span> - food, water, shelter, health care, education - is always guaranteed. 
        </div>
        <div class="tab-pane well">
          <span class="heading bold emphasis">Economy</span>
          We are creating an economy that <span class="bold emphasis">maximizes social and environmental profits</span>. Financial profits are <span class="bold emphasis">shared among all of us</span>. Every company upholds standards of <span class="bold emphasis">sustainability, transparency, and ethicality</span>.
        </div>
        <div class="tab-pane well">
          <span class="heading bold emphasis">Politics</span>
          We are committed to an <span class="bold emphasis">equal power structure</span>: a system in which every individual has the same amount of political decision-making power. <span class="bold emphasis">Decisions are made collectively and directly</span> by the individuals who will be affected by them.
        </div>
        <div class="tab-pane well">
          <span class="heading bold emphasis">Peace</span>
          We are dedicated to creating a <span class="bold emphasis">peaceful planet Earth</span>, on which people of different value systems live together in harmony and collaboration. <span class="bold emphasis">Safety of mental and physical health</span> is guaranteed. We resolve conflict through <span class="bold emphasis">collectively developing solutions</span> with all involved parties.
        </div>
        <div class="tab-pane well">
          <span class="heading bold emphasis">Sustainability</span>
          We are devoted to cultivating <span class="bold emphasis">healthy and flourishing ecosystems</span>. The <span class="bold emphasis">well-being of nature</span> is essential for our lives and the lives of future generations. We recognize dependence on the environment as a <span class="bold emphasis">great privilege as well as a great responsibility</span>.
        </div>
        <div class="tab-pane well">
          <span class="heading bold emphasis">Culture</span>
          We are fostering a culture based on <span class="bold emphasis">community and collaboration</span>. All human beings are enabled, encouraged, and empowered to <span class="bold emphasis">follow their hearts and realize their dreams</span>.
        </div>        
      </div>
    </div>
  </div>
</div>

<div id="action-plan" data-menu-offset="-9">
  <div>
    <hr
      data-50-top="border-color: rgb(217, 83, 79);"
      data-100-top="border-color: rgb(51, 51, 51);"
      data-anchor-target="#action-plan > div"     
        />
    <h1 class="bold fancy"
      data-50-top="color: rgb(217, 83, 79);"
      data-100-top="color: rgb(51, 51, 51);"
      data-anchor-target="#action-plan > div"><span>Action Plan</span></h1>


    <div class="panel panel-default">
      <div class="icon">
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold">Personal Change <span class="label label-danger">Step 1</span></h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
    
    <div class="arrow">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    
    <div class="panel panel-default">
      <div class="icon">
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold">Systemic Change <span class="label label-danger">Step 2</span></h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
    
    <div class="arrow">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    
    <div class="panel panel-default">
      <div class="icon">
      </div>
      <div class="panel-heading">
        <h3 class="panel-title bold">Global Change <span class="label label-danger">Step 3</span></h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
    
    
    <div class="row step">
      <div class="col-md-2">
        <div            
            data-0-center-top="opacity: 0.0; margin-left: -100%;"
            data--40-center-top="opacity: 1.0; margin-left: -0%;"
            data-anchor-target="#action-plan > div">
          <div class="icon"
            data-0-center-top="border-top-color: rgba(217, 83, 79, 0.0); transform[bounce]:rotate(0deg);"
            data--10-center-top="border-top-color: rgba(217, 83, 79, 1.0); transform[bounce]:rotate(90deg); border-left-color: rgba(217, 83, 79, 0.0);"
            data--20-center-top="border-left-color: rgba(217, 83, 79, 1.0); transform[bounce]:rotate(180deg); border-bottom-color: rgba(217, 83, 79, 0.0);"
            data--30-center-top="border-bottom-color: rgba(217, 83, 79, 1.0); transform[bounce]:rotate(270deg); border-right-color: rgba(217, 83, 79, 0.0);"
            data--40-center-top="border-right-color: rgba(217, 83, 79, 1.0); transform[bounce]:rotate(360deg);"
           data-anchor-target="#action-plan > div">
            <p>1</p>
          </div>
        </div>
      </div>
      <div class="col-md-10" >
        <div>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>
</div>

<div id="join-us" data-menu-offset="-9">
  <div>
    <hr
      data-50-top="border-color: rgb(217, 83, 79);"
      data-100-top="border-color: rgb(51, 51, 51);"
      data-anchor-target="#join-us > div"     
        />
    <h1 class="bold fancy"
        data-50-top="color: rgb(217, 83, 79);"
        data-100-top="color: rgb(51, 51, 51);"
        data-anchor-target="#join-us > div"><span>Join us</span></h1>

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>
</div>