<%= render partial: "home" %>

<div id="call-to-action" class="well not-rounded">
  
  <h1 class="bold larger"
       data-150-center-top="left: 200%; opacity: 0.0;"
       data-50-center-top="left: 0%; opacity: 1.0;"
       data-anchor-target="#call-to-action"
      
      >We are building <span class="emphasis">Neonia</span></h1>
  <h2 class="bold"
       data-150-center-top="right: 200%; opacity: 0.0;"
       data-50-center-top="right: 0%; opacity: 1.0;"
       data-anchor-target="#call-to-action"
      
      >a global, borderless, online country dedicated to empowering every human being to flourish.</h2>
  

  <p class="text-center"
      data-50-center-top="transform: scale(0); opacity: 0.0;"
      data-0-center-top="transform: scale(1); opacity: 1.0;"
      data-anchor-target="#call-to-action"
     >
    <a href="#join-us" class="btn btn-lg btn-danger text-center">Join us now</a>
  </p>

</div>

<%= render partial: "new_world" %>
<%= render partial: "action_plan" %>
<%= render partial: "join_us" %>