// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}

#session {
  position: static;
  min-height: 100%;
  
  $header-height: 130px;
  $footer-height: 126px;
  
  margin-bottom: $footer-height;
  
  #content {
    height: 100%;
    
    .center-center {
      display: table;
      &> div {
        display: table-row;
        &> div {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
    
    .mainDiv {
      padding: 30px 0px;
    }
    
    #helpAccountDiv, #helpPasswordDiv {
      h3 {
        margin-top: 0px !important;
      }
      
      .close-button {
        //background-color: black; 
        //color: lightgray;
        margin-top: -2px;
        color: darken(#E3E3E3, 30%);
        border: 1px solid darken(#E3E3E3, 30%);
        padding: 5px 8px 2px;
        border-radius: 999px;
        cursor: pointer;
        font-family: 'BebasNeue';
        margin-right: 50px;
      }
      
      .close-button:hover {
        background-color: #31708F;
        //box-shadow: 0px 0px 2px 2px rgba(217, 83, 79, 0.41);
        border-color: #31708F;
        color: #F5F5F5;
      }
      
      // remove spacing from below success alert
      .alert-success {
        margin-bottom: 0px; 
      }
      
    }
    
    #helpAccountButton, #helpPasswordButton {
      cursor: pointer;
    }
    
  }
  
  //username field on signup page always lowercase
  form #user_username, form #username {
    text-transform: lowercase;
  }
  
  footer {
    position: absolute;
    bottom: 0px;
    height: $footer-height;
    display: block;
  }
  
}